<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>M-update</title>
</head>
    <body>
        <div style="background-color:whitesmoke; color: #132238; margin: 10px; padding: 50px ">
        <h2><h3>User {{user.email}}, transactions: {{user.transactions}}</h3></h2>

        <p>You have successfully made  ${{ grand_total }}</p>

        <h4>Check transaction.</h4>


        <p style="text-align: right">Sincerely,</p>
        <p style="text-align: right">The Team</p>
        <p><small>Note: replies to this email address are not monitored.</small></p>
    </div>

    </body>
</html>
