{% extends "base.html" %}
{#{% import "bootstrap/wtf.html" as wtf %}#}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/login.css') }}">
    {% block title %}Earncoins - Password Reset{% endblock %}
{% endblock %}

{% include 'navbar.html' %}
{% block page_content %}

<section class="ftco-section">
    <div class="container">
    </div>
    <div class="row justify-content-center">

        <div class=" col-md-10 col-lg-6" style="background-color: #364e68; border-radius: 10px">
            <div class="login-wrap p-0" style="justify-content: center;display: grid">
                <h3 class="mb-4 text-center" style="color: #ffffff; size: 70px; padding: 15px"> Enter new Password</h3>
            <form method="POST" action="{{ url_for('.reset_password', token=token)}}" class="signin-form" style="margin-top: 20px">
                {{ form.hidden_tag() }}
                <div class="form-group" style="width: 500px; margin-bottom: 10px; padding-bottom: 20px">
                    {{ form.password(class="form-control", type="password", placeholder="Enter Password", id="password-field") }}
                </div>
                <div class="form-group">
                    {{ form.password2(class="form-control", type="password", placeholder="Confirm Password") }}
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Click here to reset!</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}