<div style="background-color:whitesmoke; color: #132238; margin: 10px; padding: 50px ">
    <h3>Verification Code</h3>
    <br>
    <br>
    <h5>To verify your account, enter this code in Toolshop</h5>
    <br>
    <h1>{{ token }}</h1>
    <br>
    <h5>Reset password code expires after 2hours.</h5>
    <br>
    <h5>If you didn't request this you can ignore</h5>
    <br>

    <p style="text-align: right">Support, xyrustech@outlook.com</p>
    <p style="text-align: right">HACLTOOLS.SHOP</p>
    <br>
    <p><small>Note: replies to this email address are not monitored.</small></p>
</div>


